.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

/vendor
/node_modules

.env
.env.*
!.env.example
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

*.log
*.tmp
*.swp
*.swo

.vscode
.idea
*.DS_Store
*.bak
*.orig

/tests
/docs
